<!DOCTYPE html>
<html>

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta property="og:title" content="CSS Sprite Animator | PJKarlik" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://css-sprite.surge.sh/splash.jpg" />
  <meta property="og:url" content="http://css-sprite.surge.sh/" />
  <meta property="og:description"
    content="Edit and animate CSS based sprites in this React demo using context/reducers." />
</head>

<body>
  <div id="react-mount" />
</body>

</html>

<!--
  Hello, my name is:
        _ _              _ _ _    
  _ __ (_) | ____ _ _ __| (_) | __
  | '_ \| | |/ / _` | '__| | | |/ /
  | |_) | |   < (_| | |  | | |   < 
  | .__// |_|\_\__,_|_|  |_|_|_|\_\
  |_| |__/       

  I am a UI Architect, front-end developer, designer and all around computer nerd.

  I work building and defining unique interfaces with reproducable code that guide, engage,
  and respond to a user. I identify standards and solutions that are appropriate to our
  environment, evangliaze and drive technology, and generally make things that are pretty.
  
  code: https://github.com/pjkarlik/css-sprite-animatior
  contact: https://www.linkedin.com/in/paul-karlik-872aa724
-->